*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* background:linear-gradient() ; */

}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
legend{

    font-weight: 700;
}

.main__form{
    /* padding: 10px; */
    width: 500px;
}

fieldset{
    height: 250px;

}
.form--input{
    width: 300px;

    display: flex;
    flex-direction: column;
}
.crud--title{
    display: flex;
    justify-content: space-between;
    
}
.none{
    display: none;
}
.main__card{
    display: flex;
    flex-direction: column;
}
.card{
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-bottom: 15px;


}
.card-box{
    display: flex;
}

.main__form{
    margin-bottom: 30px;
}